/benchmark_submission.ipynb
/preds_ridge_bench.csv
/sample_submission.csv
/X_train.csv
/X_test.csv
/y_train.csv
/train_sorted.pkl
/submission_hbm.csv
/oof_multi-scale.npy
/oof_no-pool.npy
/oof_vanilla.npy
/oof_volume-aware.npy